doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
    title Intelligent Route Plan
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', type='text/css')
    link(rel='stylesheet', href='style/lib/pickadate/default.css', type='text/css')
    link(rel='stylesheet', href='style/lib/pickadate/default.date.css', type='text/css')
    link(rel='stylesheet', href='style/app.css', type='text/css')
  body
    .main-container
      .flex-row-center-align.logo-line
        span.glyphicon.glyphicon-road.logo
        h2.logo-text 智能出行路线规划
      .input-group.my-input-group
        span.input-group-addon 出发城市
        input#depart_city.form-control.my-input-field(type='text', placeholder='请选择起点', readonly='readonly')
      .input-group.my-input-group
        span.input-group-addon 到达城市
        input#dest_city.form-control.my-input-field(type='text', placeholder='请选择终点', readonly='readonly')
      .input-group.my-input-group
        span.input-group-addon 出发日期
        input#depart_date.form-control.my-input-field(type='text', placeholder='请选择日期')
      .input-group.my-input-group
        span.input-group-addon 排序方式
        .btn-group(style='width: 100%')
          button#sort_button.btn.btn-default.dropdown-toggle.my-input-field(type='button', style='width: 100%', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            | 最少价格
          ul#dropdown_menu.dropdown-menu
            li
              a#sort_by_price(href='#') 最少价格
            li
              a#sort_by_time(href='#') 最少时间
          span.glyphicon.glyphicon-chevron-down.dropdown-icon(data-toggle='dropdown')
      #option_accordion.advanced-options(role='tablist', aria-multiselectable='true')
        div(role='tab')
          .collapsed.advanced-options-text(role='button', data-toggle='collapse', data-parent='#option_accordion', href='#collapseOptions', aria-expanded='false')
            | 高级选项
        #collapseOptions.collapse(role='tabpanel')
          .checkbox
            label
              input#cb_transfer(type='checkbox', checked='')
              |  允许中转
          .checkbox
            label
              input#cb_same_city_transfer(type='checkbox', checked='')
              |  允许同城跨站中转
          .time-range
            span 出发时间
            select#depart_time_from
              option(value='0', selected='') 00
              option(value='1') 01
              option(value='2') 02
              option(value='3') 03
              option(value='4') 04
              option(value='5') 05
              option(value='6') 06
              option(value='7') 07
              option(value='8') 08
              option(value='9') 09
              option(value='10') 10
              option(value='11') 11
              option(value='12') 12
              option(value='13') 13
              option(value='14') 14
              option(value='15') 15
              option(value='16') 16
              option(value='17') 17
              option(value='18') 18
              option(value='19') 19
              option(value='20') 20
              option(value='21') 21
              option(value='22') 22
              option(value='23') 23
            span 点到
            select#depart_time_to
              option(value='1') 01
              option(value='2') 02
              option(value='3') 03
              option(value='4') 04
              option(value='5') 05
              option(value='6') 06
              option(value='7') 07
              option(value='8') 08
              option(value='9') 09
              option(value='10') 10
              option(value='11') 11
              option(value='12') 12
              option(value='13') 13
              option(value='14') 14
              option(value='15') 15
              option(value='16') 16
              option(value='17') 17
              option(value='18') 18
              option(value='19') 19
              option(value='20') 20
              option(value='21') 21
              option(value='22') 22
              option(value='23') 23
              option(value='24', selected='') 24
            span 点
          .time-range
            span 到达时间
            select#arrive_time_from
              option(value='0', selected='') 00
              option(value='1') 01
              option(value='2') 02
              option(value='3') 03
              option(value='4') 04
              option(value='5') 05
              option(value='6') 06
              option(value='7') 07
              option(value='8') 08
              option(value='9') 09
              option(value='10') 10
              option(value='11') 11
              option(value='12') 12
              option(value='13') 13
              option(value='14') 14
              option(value='15') 15
              option(value='16') 16
              option(value='17') 17
              option(value='18') 18
              option(value='19') 19
              option(value='20') 20
              option(value='21') 21
              option(value='22') 22
              option(value='23') 23
            span 点到
            select#arrive_time_to
              option(value='1') 01
              option(value='2') 02
              option(value='3') 03
              option(value='4') 04
              option(value='5') 05
              option(value='6') 06
              option(value='7') 07
              option(value='8') 08
              option(value='9') 09
              option(value='10') 10
              option(value='11') 11
              option(value='12') 12
              option(value='13') 13
              option(value='14') 14
              option(value='15') 15
              option(value='16') 16
              option(value='17') 17
              option(value='18') 18
              option(value='19') 19
              option(value='20') 20
              option(value='21') 21
              option(value='22') 22
              option(value='23') 23
              option(value='24', selected='') 24
            span 点
      button#submit_button.btn.btn-primary.my-input-group.query-button(type='button') 开始查询
    // city picker
    #cityPickerModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='cityPickerModalLabel')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4#cityPickerModalLabel.modal-title 选择城市
          .modal-body
            #accordion.panel-group(role='tablist')
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') 关闭
    // Error dialog
    #errorModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='errorModalLabel')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4#errorModalLabel.modal-title 出错啦
          .modal-body
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') 关闭
    #result_panel.result-panel
      .result-panel-header.result-row
        #result_back_button.glyphicon.glyphicon-chevron-left.result-back-button(aria-hidden='true')
        .result-panel-title
          #result_panel_title_city
          #result_panel_title_date
      #result_container.result-container
    script(src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.4.min.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src='script/lib/pickadate/picker.js')
    script(src='script/lib/pickadate/picker.date.js')
    script(src='script/lib/pickadate/zh_CN.js')
    script(src='script/lib/fastbutton.js')
    script(src='script/lib/cities.js')
    script(src='script/result.js')
    script(src='script/request.js')
    script(src='script/app.js')
